<!DOCTYPE html>
<html>
      <html lang="es">
<head>
      <meta charset="UTF-8">
      <title>Crear Incidencia</title>
      <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header class="main-header">
        <h1 id="txtMain">MiTickets  > Crear Incidencia</h1>        
        <nav class="navBarraTareas">
          <ul class="navigation">
            <li><a href="">Incidencias</a></li>
            <li><a href="">Crear incidencia</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Ayuda</a></li>
          </ul>
        </nav>
        <div id="crearIncidencia">
            <form class="formCrear" action="">

                <label class="p1">Título(*)</label>
                <label class="p2">Descripción de la Incidencia(*)</label>
                <input class="inputCrear" type="text" placeholder=" Introducir título de la incidencia" required>
                <textarea class="textareaCrear" name="Descripción" id="Descripcion" required>Describe breve y detalladamente la incidencia...</textarea>
                
                <br>
                <label class="p3" for="Estado">Estado de la Incidencia(*)</label>
                <label class="p4"for="Prioridad">Prioridad de la Incidencia(*)</label>

                <select class="selectEstado" name="Estado" id="Estado" required>
                    <option disabled selected>Estado</option>
                    <option value="Abierta">Abierta</option>
                    <option value="Progreso">En Progreso</option>
                    <option value="Cerrada">Cerrada</option>
                </select>

                <select class="selectPrioridad" name="Prioridad" id="Prioridad" required>
                    <option disabled selected>Prioridad</option>
                    <option value="Poco urgente">Poco urgente</option>
                    <option value="Normal">Normal</option>
                    <option value="Urgente">Urgente</option>
                    <option value="Muy urgente">Muy urgente</option>
                </select>

                <label class="p5"for="Categoria">Categoría de la Incidencia(*)</label>
                <label class="p6" for="archivo">Cargar archivo:</label>

                <select class="selectCategoria"name="Categoria" id="Categoria" required>
                    <option disabled selected>Categoría</option>
                    <option value="Red">Red (NetWorking)</option>
                    <option value="Software">Aplicaciones/Sistema</option>
                    <option value="Infraestructura">Infraestructura</option>
                    <option value="BBDD">Base de Datos</option>
                    <option value="Perifericos">Periféricos</option>
                    <option value="Mantenimiento">Mantenimiento/Actualización</option>
                </select>

                <div class="divArchivo">
                    <input class="inputArchivo"type="file" id="archivo" name="archivo">
                </div>
                    <button id="btnForm" type="submit" onclick="solve()">Mandar Incidencia</button>
          </form>
        </div>
        
      </header>
</body>

</html>