<!DOCTYPE html>
<html>
      <html lang="es">
<head>
      <meta charset="UTF-8">
      <title>Log In</title>
      <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="login">
      <div class="mainLogin">
            <h1 id="txtLogin">MiTickets</h1>
            <h3>Introduce las credenciales</h3>
            <form action="">
                  <label class="labelLogin">Usuario:</label>
                  <input class="inputLogin" type="text" placeholder="Introduce el ID de usuario" required>

                  <label class="labelLogin">Contraseña:</label>
                  <input class="inputLogin" type="password" placeholder="Introduce la contraseña" required>

                  <div class="wrap">
                        <button class="btnIniciar" type="submit" onclick="solve()">Iniciar Sesión</button>
                  </div>
            </form>
      </div>
</body>

</html>
